<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File uploads</title>
  </head>
  <body>
    <div>
      <h1>File uploads</h1>
      <%= typeof msg != 'undefined' ? msg : '' %>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
          <div>
            <span>File</span>
            <input name="myImage" type="file" />
          </div>
          <div>
            <input type="text" />
          </div>
        </div>
        <button type="submit" name="upload">Submit</button>
      </form>
      <br />
      <img src="<%= typeof file != 'undefined' ? file : '' %>" />
    </div>
  </body>
</html>
